version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - crm_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - crm_network
    depends_on:
      postgres:
        condition: service_healthy

  app:
    build: .
    container_name: app
    ports:
      - "9000:9000"
    env_file:
        - compose.env
    command: >
      sh -c "
      echo 'Waiting for PostgreSQL...' &&
      sleep 3 &&
      echo 'Running migrations...' &&
      uv run alembic upgrade head &&
      echo 'Starting app...' &&
      uv run python -m app.api_main
      "
    networks:
      - crm_network
    depends_on:
      postgres:
        condition: service_healthy


volumes:
  postgres_data:
  pgadmin_data:

networks:
  crm_network:
    driver: bridge